html,
body {
  height: 100%;
}

body {
  background-image: url(images/no_content_bg_dark.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100px auto;
  background-color: $c03;
  @include font($font-family, 12.4px, normal, normal, $c09, left, 18px);
  overflow: hidden;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
