.eqftp {
  & #{$all-text-inputs} {
    &.eqftp {
      &__input {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        line-height: normal;
        background-color: transparent;
        border-radius: 0;
        border: none;
        box-sizing: border-box;
        box-shadow: none;
        display: flex;
        vertical-align: middle;
        height: auto;
        width: 100%;
        &_short {
          width: 33.3%;
        }
        &_half {
          width: 50%;
        }
        &_long {
          width: 66.6%;
        }
        &_full {
          width: 100%;
        }
        &Text {
          @include font($font-family, 16px, 300, normal, rgba(0, 0, 0, 0.38), left, 16px);
          display: flex;
          align-items: flex-end;
          vertical-align: bottom;
          &_labelIn {
            margin-bottom: $i2;
            padding-top: $i2;
            padding-bottom: 7px;
          }
          &_labelOut {
            margin-bottom: $i2;
            padding-top: $i4;
            padding-bottom: 7px;
            min-height: $i12;
            max-height: $i12;
            height: $i12;
          }
          &_underline {
            border-bottom: 1px solid $c09;
          }
        }
      }
    }
  }
  #{$all-text-inputs-hover} {
    &.eqftp {
      &__input {
        background-color: transparent;
        border: none;
        box-shadow: none;
        &Text {
          color: rgba(0, 0, 0, 0.54);
          &_underline {
            border-bottom: 1px solid $c09;
          }
        }
      }
    }
  }
  #{$all-text-inputs-focus} {
    &.eqftp {
      &__input {
        background-color: transparent;
        border: none;
        box-shadow: none;
        &Text {
          color: rgba(0, 0, 0, 0.87);
          &_underline {
            padding-bottom: 6px;
            border-bottom: 2px solid $c21;
          }
        }
      }
    }
  }
}

.dark {
  .eqftp {
    & #{$all-text-inputs} {
      &.eqftp {
        &__input {
          &Text {
            color: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }
    #{$all-text-inputs-hover} {
      &.eqftp {
        &__input {
          &Text {
            color: rgba(255, 255, 255, 0.7);
          }
        }
      }
    }
    #{$all-text-inputs-focus} {
      &.eqftp {
        &__input {
          &Text {
            color: $c01;
          }
        }
      }
    }
  }
}
