.eqftp {
  &-connectionsSettings,
  &-modal {
    background-color: $c13;
  }
  &-menu {
    background-color: $c30;
    &__text,
    &__shortcut {
      color: $c02;
    }
  }
  &-hint {
    &__text {
      color: $c001;
    }
  }
  &__icon,
  &__button {
    & .material-icons {
      color: $c001;
    }
    &:hover {
      & .material-icons {
        color: $c003;
      }
    }
    &_nohover {
      &:hover {
        & .material-icons {
          color: $c001;
        }
      }
    }
    &_inversion {
      & .material-icons {
        color: $c011;
      }
      &:hover {
        & .material-icons {
          color: $c01;
        }
      }
    }
    &Rectangle {
      color: $c001;
      background-color: $c30;
      &:hover,
      &:focus {
        color: $c002;
        background-color: $c31;
      }
      &:active {
        color: $c003;
        background-color: $c32;
      }
      &_nobg {
        background-color: transparent;
        &:hover,
        &:focus {
          background-color: transparent;
        }
        &:active {
          background-color: transparent;
        }
      }
    }
  }
  &__label {
    color: $c001;
  }
  &__title {
    color: $c02;
    &_inversion {
      color: $c01;
    }
  }
  &__subheader {
    color: $c001;
  }
}

.dark {
  .eqftp {
    background-color: $c41;
    &-head {
      background-color: $c42;
    }
    &-header {
      background-color: $c42;
      &__search {
        &Holder {
          background-color: $c13;
        }
      }
    }
    &-menu {
      background-color: $c40;
      &__text,
      &__shortcut {
        color: $c01;
      }
    }
    &-connectionsSettings,
    &-modal {
      background-color: $c41;
    }
    &-hint {
      &__text {
        color: $c011;
      }
    }
    &__icon,
    &__button {
      & .material-icons {
        color: $c011;
      }
      &:hover {
        & .material-icons {
          color: $c01;
        }
      }
      &_nohover {
        &:hover {
          & .material-icons {
            color: $c011;
          }
        }
      }
      &_inversion {
        & .material-icons {
          color: $c001;
        }
        &:hover {
          & .material-icons {
            color: $c003;
          }
        }
      }
      &Rectangle {
        color: $c011;
        background-color: $c40;
        &:hover,
        &:focus {
          color: $c012;
          background-color: $c41;
        }
        &:active {
          color: $c01;
          background-color: $c42;
        }
        &_nobg {
          background-color: transparent;
          &:hover,
          &:focus {
            background-color: transparent;
          }
          &:active {
            background-color: transparent;
          }
        }
      }
    }
    &__label {
      color: $c011;
    }
    &__title {
      color: $c01;
      &_inversion {
        color: $c02;
      }
    }
    &__subheader {
      color: $c011;
    }
  }
}
