$c00: rgba(000, 000, 000, 1.0);
$c01: rgba(255, 255, 255, 1.0);
$c02: rgba(051, 051, 051, 1.0);

$c03: rgba(036, 036, 036, 1.0); //#242424 main view
$c04: rgba(071, 072, 073, 1.0); //#474849 hover icon & file tree
$c05: rgba(047, 048, 049, 1.0); //#2f3031 active icon
$c06: rgba(094, 095, 096, 1.0); //#5e5f60 toolbar
$c07: rgba(088, 089, 090, 1.0); //#58595a header
$c08: rgba(056, 057, 058, 1.0); //#38393a footer
$c09: rgba(204, 204, 204, 1.0); //#cccccc font color

$c10: rgba(026, 188, 156, 1.0); //#1abc9c
$c11: rgba(022, 160, 133, 1.0); //#16a085
$c12: rgba(046, 204, 113, 1.0); //#2ecc71
$c13: rgba(039, 174, 096, 1.0); //#27ae60
$c14: rgba(052, 152, 219, 1.0); //#3498db
$c15: rgba(041, 128, 185, 1.0); //#2980b9
$c16: rgba(155, 089, 182, 1.0); //#9b59b6
$c17: rgba(142, 068, 173, 1.0); //#8e44ad
$c18: rgba(052, 073, 094, 1.0); //#34495e
$c19: rgba(044, 062, 080, 1.0); //#2c3e50
$c20: rgba(241, 196, 015, 1.0); //#f1c40f
$c21: rgba(243, 156, 018, 1.0); //#f39c12
$c22: rgba(230, 126, 034, 1.0); //#e67e22
$c23: rgba(211, 084, 000, 1.0); //#d35400
$c24: rgba(231, 076, 060, 1.0); //#e74c3c
$c25: rgba(192, 057, 043, 1.0); //#c0392b
$c26: rgba(236, 240, 241, 1.0); //#ecf0f1
$c27: rgba(189, 195, 199, 1.0); //#bdc3c7
$c28: rgba(149, 165, 166, 1.0); //#95a5a6
$c29: rgba(127, 140, 141, 1.0); //#7f8c8d
