$c00: rgba(000, 000, 000, 1.0);
$c01: rgba(255, 255, 255, 1.0);
$c02: rgba(051, 051, 051, 1.0);

$c03: rgba(036, 036, 036, 1.0); //#242424 main view
$c04: rgba(071, 072, 073, 1.0); //#474849 hover icon & file tree
$c05: rgba(047, 048, 049, 1.0); //#2f3031 active icon
$c06: rgba(094, 095, 096, 1.0); //#5e5f60 toolbar
$c07: rgba(088, 089, 090, 1.0); //#58595a header
$c08: rgba(056, 057, 058, 1.0); //#38393a footer
$c09: rgba(204, 204, 204, 1.0); //#cccccc font color
$c10: rgba(121, 121, 121, 1.0); //#797979
$c11: rgba(230, 230, 230, 1.0); //#e6e6e6
$c12: rgba(170, 170, 170, 1.0);

$red: rgba(192, 57, 43, 1.0);
$green: rgba(39, 174, 96,1.0);
$blue: rgba(41, 128, 185,1.0);
