@mixin font($ff: $font-family, $fsz: $font-size-base, $fw: normal, $fst: normal, $c: $c00, $ta: left, $lh: $line-height, $tt: none) {
  font-family: $ff;
  font-size: $fsz;
  font-weight: $fw;
  font-style: $fst;
  color: $c;
  text-align: $ta;
  line-height: $lh;
  text-transform: $tt;
}

@mixin media-indent($count, $option, $divide: 1, $multi: 0) {
  @media only screen and (max-width: nth($resolutions, $count)) {
    @if $multi==1 {
      #{$option}: nth($indents, $count) * $divide;
    }
    @else {
      @if $divide>1 {
        #{$option}: nth($indents, $count) / $divide;
      }
      @else {
        #{$option}: nth($indents, $count);
      }
    }
  }
}

@mixin inputText($ff: 14px, $w: 100%) {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  @include font($font-family, $ff, 300, normal, $c01, left);
  transition: border 0.2s;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $c09;
  border-radius: none;
  box-sizing: border-box;
  box-shadow: none;
  transition: none;
  outline: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  vertical-align: middle;
  height: auto;
  width: $w;
  &:focus {
    margin-bottom: -1px;
    border-bottom: 2px solid #2196F3;
  }
}
