.eqNotify {
    $notification: &;
    position: absolute;
    right: 50px;
    bottom: 50px;
    display: flex;
    overflow: hidden;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 50%;
    
    -webkit-animation-name: zoomInUp;
    animation-name: zoomInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    transition: border-radius 0.2s;
    &__info {
        width: 0px;
        height: 50px;
        overflow: hidden;
        transition: width 0.2s;
        box-sizing: border-box;
    }
    &__icon {
        height: 50px;
        width: 50px;
    }
    &:hover {
        border-radius: 5px;
        & #{$notification}__info {
            width: 150px;
            padding: 5px 10px;
        }
    }
    &--info {
        background-color: #7c7c7c;
        color: #FFFFFF;
    }
    &--success {
        background-color: #4e9142;
        color: #1a1a1a;
    }
    &--warning {
        background-color: #d0a124;
        color: #1a1a1a;
    }
    &--danger {
        background-color: #b22f2f;
        color: #FFFFFF;
    }
}

@-webkit-keyframes zoomInUp {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

@keyframes zoomInUp {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}