.eqftp {
  background-color: $c04;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  overflow: hidden;
  height: 100%;
  width: 360px;
  &-toolbar {
    &__icon {
      padding-top: 1px;
      padding-bottom: 1px;
      padding-left: 1px;
      padding-right: 1px;
      background-image: url(images/toolbar__icon.svg);
      background-size: contain;
      border-radius: 2px;
      box-sizing: border-box;
      height: 26px;
      width: 26px;
      &:hover {
        background-color: $c04;
      }
      &:active {
        background-color: $c05;
      }
    }
  }
  &-header {
    background-color: $c07;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    z-index: 300;
    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: $i12;
      max-height: $i12;
      height: $i12;
      width: 100%;
      & .eqftp__title {
        width: 100%;
      }
      & .eqftp__button {
        color: $c09;
      }
    }
    &__search {
      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 6px;
      padding-right: 6px;
      box-sizing: border-box;
      display: none;
      justify-content: center;
      align-items: center;
      animation-name: fadeIn;
      animation-duration: 0.2s;
      animation-direction: alternate;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      &_active {
        display: flex;
      }
      &Holder {
        background-color: #fafafa;
        border-radius: 2px;
        display: flex;
        justify-content: space-between;
        align-content: flex-start;
        align-items: stretch;
        flex-wrap: wrap;
        width: 100%;
        & .eqftp__inputText {
          width: calc(100% - 36px - 36px) !important;
        }
      }
    }
    &__dropdown {
      padding-top: 6px;
      padding-bottom: 6px;
      border-top: 1px solid $c11;
      box-sizing: border-box;
      animation-name: fadeIn;
      animation-duration: 0.2s;
      animation-direction: alternate;
      position: relative;
      display: none;
      max-height: 480px;
      width: 100%;
      &_active {
        display: flex;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
      }
      &List {
        width: 100%;
      }
      &Item {
        padding-left: $i9;
        padding-right: $i3;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        transition: background-color 0.2s, border 0.2s;
        cursor: pointer;
        min-height: $i12;
        max-height: $i12;
        height: $i12;
        width: 100%;
        &:hover {
          background-color: $c09;
          & .eqftp__titleNowrap {
            &+* {
              border-left: 1px solid $c12;
            }
          }
        }
        & .eqftp__titleNowrap {
          &+* {
            margin-left: $i1;
            padding-left: $i1;
            border-left: 1px solid $c09;
            line-height: 10px;
          }
        }
      }
    }
    &__navigation {
      display: flex;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      &Tab {
        padding-left: $i3;
        padding-right: $i3;
        font-size: 20px;
        color: $c09;
        border-bottom: 2px solid transparent;
        transition: color 0.2s, border-bottom-color 0.2s;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        cursor: pointer;
        min-height: $i12;
        max-height: $i12;
        height: $i12;
        width: 25%;
        &_active,
        &:hover {
          color: $c01;
          border-bottom-color: $c01;
        }
      }
    }
  }
  &-connectionsSettings {
    display: none;
  }
  &-content {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    max-height: calc(100% - 122px);
    height: 100%;
    width: 100%;
    z-index: 100;
    &__page {
      animation-name: fadeInRight;
      animation-duration: 0.2s;
      display: none;
      justify-content: center;
      position: relative;
      height: 100%;
      width: 100%;
      &_active {
        display: flex;
      }
      &_connections {
        align-content: flex-start;
        flex-wrap: wrap;
        & .eqftp__buttonRound {
          background-color: $c07;
          position: absolute;
          bottom: $i4;
          right: $i4;
          z-index: 1;
          &:hover {
            background-color: $c06;
          }
          & .material-icons {
            color: $c09;
          }
        }
      }
    }
  }
  &-footer {
    background-color: $c08;
    animation-name: fadeIn;
    animation-duration: 0.3s;
    transition: height 0.2s;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
    height: 26px;
    width: 100%;
    z-index: 500;
    &_active {
      padding-top: $i2;
      box-sizing: border-box;
      height: 100%;
      & .eqftp-footer__list {
        max-height: 100%;
        & .eqftp-footer__listItem {
          align-items: flex-start;
          height: auto;
          &+.eqftp-footer__listItem {
            margin-top: $i1;
          }
          & .eqftp-footer__listItemInfo {
            span {
              text-overflow: none;
              overflow: visible;
              white-space: normal;
              max-width: none;
            }
          }
        }
      }
      & .eqftp__buttonCube_footer {
        transform: rotate(180deg);
      }
    }
    &__list {
      position: relative;
      display: flex;
      align-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      z-index: 1;
      &Item {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        min-height: 26px;
        height: 26px;
        width: 100%;
        &_success {
          & .eqftp-footer__listItemIcon {
            & .material-icons {
              &:before {
                content: '\E86C';
                color: $green;
              }
            }
          }
        }
        &_error {
          & .eqftp-footer__listItemIcon {
            & .material-icons {
              &:before {
                content: '\E000';
                color: $red;
              }
            }
          }
        }
        &_warning {
          & .eqftp-footer__listItemIcon {
            & .material-icons {
              &:before {
                content: '\E002';
                color: $red;
              }
            }
          }
        }
        &_info {
          & .eqftp-footer__listItemIcon {
            & .material-icons {
              &:before {
                content: '\E88E';
                color: $blue;
              }
            }
          }
        }
        &Icon {
          display: flex;
          justify-content: center;
          min-width: 26px;
          max-width: 26px;
          width: 26px;
          & .material-icons {
            font-size: 16px;
          }
        }
        &Date {
          opacity: 0.4;
          min-width: 40px;
          max-width: 40px;
          width: 40px;
        }
        &Info {
          margin-left: $i2;
          min-width: 0px;
          max-width: calc(100% - 26px - 50px - 26px);
          span {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            max-width: 100%;
          }
        }
      }
    }
  }
  &-fileTree {
    padding-top: $i2;
    box-sizing: border-box;
    user-select: none;
    height: calc(100% - 8px);
    width: 100%;
    &__item {
      padding-left: $i1;
      padding-right: $i1;
      position: relative;
      box-sizing: border-box;
      transition: background-color 0.1s;
      cursor: default;
      display: flex;
      max-width: 100%;
      width: 100%;
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
      &_file {
        align-items: center;
        min-height: $i6;
        max-height: $i6;
        height: $i6;
      }
      &_folder {
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
      }
      &Element {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        width: 100%;
      }
      &Info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 0px;
        width: calc(100% - 100px);
      }
      &Icon {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: $i6;
        max-height: $i6;
        height: $i6;
        min-width: $i6;
        max-width: $i6;
        width: $i6;
        & .material-icons {
          font-size: 16px;
          color: $c09;
        }
      }
      &Name {
        min-width: 0px;
        max-width: 100%;
      }
      &Ext {
        padding-left: $i1;
        opacity: 0.4;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        min-width: 0px;
        max-width: 30%;
      }
      &Size {
        padding-left: $i1;
        font-style: italic;
        opacity: 0.4;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        min-width: 0px;
        max-width: 70%;
      }
      &Date {
        padding-left: $i1;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        min-width: 50px;
        max-width: 100px;
        width: auto;
        & .eqftp__title {
          text-align: right;
        }
      }
      &Wrap {
        padding-left: $i1;
        box-sizing: border-box;
        max-width: 100%;
        width: 100%;
      }
      &Children {
        padding-left: $i2;
        box-sizing: border-box;
        display: none;
        width: 100%;
        & .eqftp-fileTree__item {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
  &-queue {
    padding-top: $i2;
    box-sizing: border-box;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    height: calc(100% - 8px);
    width: 100%;
    &__info {
      display: flex;
      align-items: center;
      transition: width 0.1s;
      max-width: calc(100% - 24px - 4px - 4px - 4px - 8px);
      width: 100%;
    }
    &__error {
      display: none;
    }
    &__item {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: $i6;
      max-width: 100%;
      width: 100%;
      &_error {
        background-color: rgba(192, 57, 43, 0.1);
        & .eqftp-queue__itemDirection {
          & .material-icons {
            color: $red;
          }
        }
        & .eqftp__progress {
          display: none;
        }
        & .eqftp-queue__error {
          display: block;
        }
      }
      &Direction {
        margin-right: $i1;
        transition: opacity 0.1s;
        & .material-icons {
          font-size: 14px;
          color: $c09;
        }
      }
      &Local {
        min-width: 30%;
        max-width: 30%;
      }
      &Remote {
        margin-left: $i1;
        min-width: 30%;
        max-width: 30%;
      }
      &Progress {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: $i1;
        min-width: 40%;
        max-width: 40%;
        &:hover {
          & .eqftp-queue__itemSize {
            display: none;
          }
          & .eqftp-queue__itemPercent {
            display: block;
          }
        }
      }
      &Size {
        color: $c02;
        animation-name: fadeInLeft;
        animation-duration: 0.1s;
        z-index: 2;
      }
      &Percent {
        color: $c02;
        animation-name: fadeInRight;
        animation-duration: 0.1s;
        display: none;
        z-index: 2;
      }
      &Menu {
        color: $c09;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        transition: color 0.1s;
        animation-name: fadeInLeft;
        animation-duration: 0.1s;
        display: none;
        justify-content: center;
        align-items: center;
        height: $i6;
        width: $i6;
        &:hover {
          color: $c01;
        }
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        &.eqftp-queue__item_error {
          background-color: rgba(192, 57, 43, 0.3);
        }
        & .eqftp-queue__itemDirection {
          opacity: 0;
        }
        & .eqftp-queue__itemMenu {
          display: flex;
        }
      }
    }
  }
  &-connections {
    padding-bottom: $i12;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: calc(100% - 72px);
    width: 100%;
    &:after {
      content: '';
      height: 88px;
      width: 100%;
    }
    &__item {
      position: relative;
      display: flex;
      align-items: center;
      cursor: pointer;
      overflow: hidden;
      width: 100%;
      &Icon {}
      &Name {
        min-width: 0px;
        max-width: 100%;
        width: 100%;
        & .material-icons {
          font-size: 24px;
          color: $c09;
        }
      }
      &Buttons {
        position: absolute;
        top: 0;
        right: 0;
        animation-name: fadeInRight;
        animation-duration: 0.1s;
        display: none;
        justify-content: center;
        align-items: center;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        & .eqftp-connections__itemName {
          max-width: calc(100% - 48px - 48px);
        }
        & .eqftp-connections__itemButtons {
          display: flex;
        }
      }
    }
  }
  &__row {
    display: flex;
    align-items: stretch;
    max-width: 100%;
    width: 100%;
    &_between {
      justify-content: space-between;
    }
    &_center {
      justify-content: center;
    }
    &_start {
      justify-content: flex-start;
    }
    &_end {
      justify-content: flex-end;
    }
  }
  &__col {
    display: flex;
    align-items: center;
    max-width: 100%;
    &_short {
      width: 33.3%;
    }
    &_half {
      width: 50%;
    }
    &_long {
      width: 66.6%;
    }
    &_full {
      width: 100%;
    }
    &_fix {
      width: 150px;
    }
    &_end {
      justify-content: flex-end;
    }
  }
  &__input {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    &Text {
      padding-top: $i2;
      padding-bottom: 7px;
      @include font($font-family, 14px, 300, normal, $c09, left);
      box-sizing: border-box;
      align-items: flex-end;
      transition: border-bottom-color 0.2s;
      width: 100%;
      &:hover {
        border-bottom-color: $c02;
      }
      &_small {
        font-size: 12px;
      }
      &_medium {
        font-size: 14px;
      }
      &_big {
        font-size: 16px;
      }
    }
    &_short {
      width: 33.3%;
    }
    &_half {
      width: 50%;
    }
    &_long {
      width: 66.6%;
    }
    &_full {
      width: 100%;
    }
  }
  &__button {
    box-sizing: border-box;
    transition: background-color 0.2s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &Round {
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: $i14;
      max-height: $i14;
      height: $i14;
      min-width: $i14;
      max-width: $i14;
      width: $i14;
    }
    &Cube {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: $i12;
      max-height: $i12;
      height: $i12;
      min-width: $i12;
      max-width: $i12;
      width: $i12;
      &_footer {
        position: absolute;
        bottom: 0;
        right: 0;
        transition: transform 0.2s;
        min-height: 26px;
        max-height: 26px;
        height: 26px;
        min-width: 26px;
        max-width: 26px;
        width: 26px;
        z-index: 2;
      }
      &_smallest {
        min-height: $i6;
        max-height: $i6;
        height: $i6;
        min-width: $i6;
        max-width: $i6;
        width: $i6;
      }
      &_small {
        min-height: $i9;
        max-height: $i9;
        height: $i9;
        min-width: $i9;
        max-width: $i9;
        width: $i9;
      }
      &_medium {
        min-height: $i12;
        max-height: $i12;
        height: $i12;
        min-width: $i12;
        max-width: $i12;
        width: $i12;
      }
      &_big {
        min-height: $i15;
        max-height: $i15;
        height: $i15;
        min-width: $i15;
        max-width: $i15;
        width: $i15;
      }
    }
    &:hover {
      & .material-icons {
        color: $c01;
      }
    }
  }
  &__label {
    @include font($font-family, 12px, 300, normal, $c12, left);
    cursor: pointer;
    transition: color 0.2s;
    &:hover {
      color: $c09;
    }
  }
  &__holder {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    &Icon {
      cursor: pointer;
    }
    &Input {
      padding-top: $i4;
      padding-bottom: $i4;
      padding-right: $i4;
      min-height: $i18;
      max-height: $i18;
      height: $i18;
      width: 100%;
    }
  }
  &__hello {
    margin-top: 40px;
    margin-bottom: 40px;
    @include font($font-family, 20px, 900, normal, $c07, center, normal, uppercase);
    width: 100%;
    span {
      font-size: 40px;
    }
  }
  &__title {
    font-family: $font-family;
    font-weight: 300;
    font-style: normal;
    color: $c01;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 100%;
    &_tiny {
      font-size: 12px;
    }
    &_small {
      font-size: 16px;
    }
    &_medium {
      font-size: 20px;
    }
    &_big {
      font-size: $i6;
    }
    &_black {
      color: $c00;
    }
    &_white {
      color: $c01;
    }
    &_gray {
      color: $c02;
    }
    &Nowrap {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 100%;
      &_half {
        max-width: 50%;
      }
    }
  }
  &__close {
    font-size: $i6;
    color: $c09;
    transition: color 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-height: $i12;
    max-height: $i12;
    height: $i12;
    min-width: $i12;
    max-width: $i12;
    width: $i12;
    &:hover {
      color: $c01;
    }
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: $i12;
    max-height: $i12;
    height: $i12;
    min-width: $i12;
    max-width: $i12;
    width: $i12;
    &_smallest {
      min-height: $i6;
      max-height: $i6;
      height: $i6;
      min-width: $i6;
      max-width: $i6;
      width: $i6;
    }
    &_small {
      min-height: $i9;
      max-height: $i9;
      height: $i9;
      min-width: $i9;
      max-width: $i9;
      width: $i9;
    }
    &_medium {
      min-height: $i12;
      max-height: $i12;
      height: $i12;
      min-width: $i12;
      max-width: $i12;
      width: $i12;
    }
    &_big {
      min-height: $i15;
      max-height: $i15;
      height: $i15;
      min-width: $i15;
      max-width: $i15;
      width: $i15;
    }
    &_biggest {
      min-height: $i18;
      max-height: $i18;
      height: $i18;
      min-width: $i18;
      max-width: $i18;
      width: $i18;
    }
  }
  &__progress {
    background-color: $c12;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: $i4;
    width: 100%;
    &Bar {
      background-color: $c09;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      z-index: 1;
    }
  }
}
