#toolbar-eqFTP{
    display:inline-block;
    width:16px;
    height:16px;
    background-image:url('img/folder.svg');
    background-size:100%;
    opacity:0.75;
}

#toolbar-eqFTP:hover{
    opacity:1;
}

#toolbar-eqFTP.downloading{
    background-image:url('img/folder-downloading.svg');
}

#toolbar-eqFTP.uploading{
    background-image:url('img/folder-uploading.svg');
}

#toolbar-eqFTP.complete{
    background-image:url('img/checkmark.svg');
}

#toolbar-eqFTP.error{
    background-image:url('img/cross.svg');
}

#toolbar-eqFTP.disabled {
    background-image:url('img/folder-disabled.svg');
}

#detachedModalHolder{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 51;
}

#detachedModal{
    position: absolute;
    min-width: 300px;
    min-height: 200px;
}

#eqFTP-project-dialog {
    width: 100% !important;
    height: 100% !important;
    position: relative;
    z-index: 1;
}

#eqFTP-project-dialog .modal-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0 !important;
}

#eqFTP-project-dialog .modal-footer>div {
    padding: 10px 15px 12px;
}

#eqFTP-project-dialog .modal-body {
    max-height: none;
    position: absolute;
    top: 75px;
    bottom: 43px;
    margin: 0;
    width: 100%;
    padding: 0;
}

#eqFTPDirectoryListing {
    min-width: 400px;
    width: 100% !important;
    position: relative;
}

#eqFTPDirectoryListing>div {
    padding: 10px 10px 0 10px;
}
#eqFTPDirectoryListing>div.condensed-table {
    padding: 0 10px 10px 10px;
}

.eqFTPFileTreeRow {
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    
}

#eqFTPDirectoryListing .eqFTPFileTreeCell {
    flex: 1 auto;
    text-align: right;
}

#eqFTPDirectoryListing .eqFTPFileTreeCell.eqFTPTableNamecol{
    flex: 2 30%;
    text-align: left;
}

#eqFTPDirectoryListing .eqFTPFileTreeCell.eqFTPTableSizecol{

}

#eqFTPDirectoryListing .eqFTPFileTreeCell.eqFTPTableTypecol{

}

.eqFTPFileTreeRow>.eqFTPFileTreeHolder {
    flex: 1 100%;
}

#eqFTP-project-settings {
    width:800px;
}

.nav.nav-tabs.nav-stacked li{
    padding: 3px 19px;
    cursor: pointer;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}
.nav.nav-tabs.nav-stacked li:first-child{
    /*
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    */
}
.nav.nav-tabs.nav-stacked li:last-child{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    /*
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    */
}
.nav.nav-tabs.nav-stacked li:hover{
    background-image: url(img/arrows.png);
    background-position: 226px 5px;
    background-repeat: no-repeat;
}
.nav.nav-tabs.nav-stacked li.clicked{
    color:#288edf;
    background-color: #dfe2e2;
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #ffffff;
}
.nav.nav-tabs.nav-stacked li.clicked:hover{
    background-image: url(img/arrows.png);
    background-position: 226px -17px;
    background-repeat: no-repeat;
}

.nav.nav-tabs.nav-stacked li.clicked+li {
    border-top:none;
}

.field-container2 label, .field-container2 input, .field-container2 select{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    margin-right: 5px;
}

.field-container2 {
    margin-bottom: 10px;
}

.field-container2 label{
    width:140px;
}

.eqFTP-icon {
    cursor: pointer;
    opacity: 0.2;
    height: 10px;
    width: 10px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

#eqFTPCTSEIDHelp {
    background-image: url(img/info.svg);
    height:20px;
    width:20px;
    vertical-align:middle;
}

.dark #eqFTPCTSEIDHelp {
    background-image: url(img/dark-info.svg);
}

#eqFTPautolocalpath {
    background-image: url(img/folder-add.svg);
    height:20px;
    width:15px;
    vertical-align:middle;
}

.dark #eqFTPautolocalpath {
    background-image: url(img/dark-folder-add.svg);
}

.eqFTP-icon:hover {
    cursor: pointer;
    opacity: 0.4;
}

.eqFTP-icon.clicked {
    opacity: 0.7;
}

.eqFTP-icon-plus {
    background-image: url(img/glyphicons_432_plus.png);
}

.eqFTP-icon-close {
    background-image: url(img/close.svg);
}

li[data-eqFTP-addConnection]:hover>.eqFTP-icon-plus{
    opacity: 0.4;
}

#btfSettingsWindowsPlaceholder {
    height: 370px;
    line-height: 370px;
    vertical-align: middle;
    text-align: center;
}

.eqFTP-error {
    border-color: #e9322d !important;
    -webkit-box-shadow: 0 0 6px #f8b9b7 !important;
    -moz-box-shadow: 0 0 6px #f8b9b7 !important;
    box-shadow: 0 0 6px #f8b9b7 !important;
}

.eqFTP-alert {
    background-color: #f2dede !important;
    border-color: #eed3d7 !important;
    color: #b94a48 !important;
    float:left;
    width:50%;
    margin:0;
}

.eqFTP-notification {
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
    color: #468847 !important;
    float:left;
    width:50%;
    margin:0;
}

#eqFTP-openSettingsWindow {
    width: 20px;
    height: 20px;
    background-image: url(img/settings.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    display: inline-block;
    opacity: 0.4;
    cursor: default;
    vertical-align: middle;
}

#eqFTP-openSettingsWindow:hover {
    background-color: rgba(255,255,255,0.8);
    opacity: 0.6;
    border-radius: 2px;
}

.dark #eqFTP-openSettingsWindow {
    background-image: url(img/dark-settings.svg);
}

.dark #eqFTP-openSettingsWindow:hover {
    background-color: rgba(255,255,255,0.2);
}

#eqFTP-serverChoosing {
    vertical-align: middle;
    display: inline-block;
    margin: 0;
    max-height: 200px;
}

.zebra-striped tbody li:nth-child(2n+1){
    background-color: rgba(255,255,255,0.2);
}

#eqFTPDirectoryListing div .eqFTPTableNamecol span {
    width:80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

#eqFTPDirectoryListing div .eqFTPTableNamecol span.eqFTPFileTreePlusMinus {
    display: inline-block;
    vertical-align: middle;
    height: 8px !important;
    width: 8px !important;
    background-image: url(img/directoryArrows.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-right: 3px;
    margin-left: 3px;
    background-position: top center;
}

#eqFTPDirectoryListing div .eqFTPFileTreeRow.opened>div>span.eqFTPFileTreePlusMinus {
    background-image: url(img/directoryArrows.svg);
    background-position: bottom center;
}
#eqFTPDirectoryListing div .eqFTPTableNamecol.eqFTP-file span.eqFTPFileTreePlusMinus {
    background: none;
    width: 0px !important;
}

#eqFTPDirectoryListing div .eqFTP-folder span {
    opacity: 0.7;
}

.eqFTPFileTreeCell.clicked {
    background-color: #95bfd3;
}

#eqFTPTable li:hover>div:not(.clicked) {
    background-color: rgba(0,0,0,0.1);
}

#eqFTPLoading {
    display: inline-block;
    height: 18px;
    width: 18px;
    background-image: url(img/loading.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    vertical-align: middle;
    margin-left: 5px;
    opacity: 0.7;
}

.field-group{
    padding:14px;
    background-color:#f5f5f5;
    border:1px solid #dddddd;
    margin-bottom:20px;
}

#eqFTPSettingsHolder #eqFTP-serverport, #eqFTP-keepAlive, #eqFTP-timeOffset {
    width:40px;
}

.eqFTPFileTreeCell {
    display: inline-block;
    height: 20px;
    vertical-align: middle;
}

li.eqFTPFileTreeRow, ul.eqFTPFileTreeHolder {
    list-style: none;
    margin: 0;
    padding: 0;
}

li.closed>ul {
    display: none !important;
}

li.opened>ul {
    display: block !important;
}

#eqFTPGlobalSettings {
    display: inline-block;
    height: 15px;
    width: 10px;
    background-image: url(img/glyphicons_136_cogwheel.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    vertical-align: middle;
    margin-bottom: 3px;
    opacity: 0.3;
}

#eqFTPGlobalSettings:hover, #eqFTPGlobalSettings.clicked {
    opacity: 0.6;
}

#eqFTPGlobalSettingsHolder {
    height: 370px;
}

.eqFTPtoolbarBottomIcons {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    vertical-align: middle;
    opacity: 0.3;
    display: inline-block;
    height: 20px;
    width: 20px;
}

.eqFTPtoolbarBottomIcons:hover {
    opacity: 0.6;
}

#eqFTPConnectionControl {
    background-image: url(img/connection_off.svg);
    height: 20px;
    width: 30px;
}

.dark #eqFTPConnectionControl {
    background-image: url(img/dark-connection_off.svg);
}

#eqFTPConnectionControl.on {
    background-image: url(img/connection_on.svg);
}

.dark #eqFTPConnectionControl.on {
    background-image: url(img/dark-connection_on.svg);
}

#eqFTPRefresh {
    background-image: url(img/refresh.svg);
}

.dark #eqFTPRefresh {
    background-image: url(img/dark-refresh.svg);
}

#eqFTPSettingsRefresh {
    background-image: url(img/settings-refresh.svg);
    width:24px;
}


.dark #eqFTPSettingsRefresh {
    background-image: url(img/dark-settings-refresh.svg);
}

#eqFTPQueueIndicator {
    cursor: pointer;
}

#eqFTPQueueIndicator.disabled {
    color: #F00 !important;
}

#eqFTPQueueHolder .table-container table {
    width: 100%;
    table-layout: fixed;
}

#eqFTPQueueHolder .table-container th {
    padding: 3px 10px;
    text-align: left;
    border-bottom: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
    width:30%;
    background-color: #fafafa;
}

.dark #eqFTPQueueHolder .table-container th {
    background-color: #646464;
    color: #FFFFFF;
}

#eqFTPQueueHolder .table-container td {
    padding: 3px 10px;
    text-align: left;
    border-bottom: 1px dotted #b7b7b7;
    position: relative;
}

#eqFTPQueueHolder .table-container th span, #eqFTPQueueHolder .table-container td span {
	padding: 0 5px;
}

#eqFTPQueueHolder .table-container td.path>span, #eqFTPQueueHolder .table-container td.name>span {
    display: inline-block;
    width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

#eqFTPQueueHolder .table-container .transferring td span {
    display: inline-block;
    z-index: 2;
    position: relative;
}

#eqFTPQueueHolder .table-container .transferring td .progessBar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #a5dbff;
    z-index: 1;
}

#eqFTPQueueTabs>div {
    display: inline-block;
    padding: 2px 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin: 0 2px;
    background-color: #f2f2f2;
    color: #000000;
}
#eqFTPQueueTabs>div.active {
    background-color: #fafafa;
    color: #000000;
}

#eqFTPQueueTabs>div>.eqFTPQueueClose {
    display: inline-block;
    padding-left: 3px;
    opacity: 0.8;
    cursor: pointer;
}
#eqFTPQueueTabs>div>.eqFTPQueueClose:hover {
    opacity: 1;
}

.dark #eqFTPQueueTabs>div {
    background-color: #585858;
    color: #FFFFFF;
}
.dark #eqFTPQueueTabs>div.active {
    background-color: #646464;
    color: #FFFFFF;
}
.dark #eqFTPQueueTabs>div>.eqFTPQueueClose {
    color: #FFFFFF;
}
#eqFTP-dmhandle {
    position: absolute;
    z-index: 2;
    bottom: -1px;
    left: 1px;
    width: 15px;
    height: 15px;
    cursor: ne-resize;
    border-bottom-left-radius: 4px;
    background-image: url(img/resizeHandler.png);
}

.JColResizer{table-layout:fixed;} .JColResizer td, .JColResizer th{overflow:hidden;padding-left:0!important; padding-right:0!important;}  .JCLRgrips{ height:0px; position:relative;} .JCLRgrip{margin-left:-5px; position:absolute; z-index:5; } .JCLRgrip .JColResizer{position:absolute;background-color:red;filter:alpha(opacity=1);opacity:0;width:10px;height:100%;top:0px} .JCLRLastGrip{position:absolute; width:1px; } .JCLRgripDrag{ border-left:1px dotted black;	}

span[data-eqFTPQueueRemove] {
	cursor: pointer;
	opacity: 0.8;
}

span[data-eqFTPQueueRemove]:hover {
	opacity: 1;
}

.eqFTP-customErrorHolder {
    position: absolute;
    z-index: 3;
    bottom: 0;
    right: 45px;
    padding: 5px;
    border-radius: 3px;
}
.eqFTP-customErrorHolder strong {
    font-weight: bold;
}

.eqFTP-customErrorHolder.error {
    background-color: #f2354b;
    color: #FFFFFF;
}

.eqFTP-customErrorHolder.notification {
    background-color: #75e240;
    color: #000000;
}

.eqFTP-customErrorHolder.notification strong {
    color: #000000;
}

.eqFTP-customErrorHolder.warning {
    background-color: #e2ae40;
    color: #000000;
}

.eqFTP-customErrorHolder.error strong {
    color: #FFFFFF;
}

.eqFTP-customErrorHolder.notification .close{
    color: #000000;
}

.eqFTP-customErrorHolder.error .close {
    color: #FFFFFF;    
}

.eqFTP-customErrorHolder .close {
    float: right;
    margin-left: 10px;
}

.eqFTP-customErrorHolder .text {
    float: left;
}

.eqFTPModalItemRename {
    height: 16px;
    display: inline-block;
    width: 90%;
    background-color: #dfe2e2;
    box-shadow: 0 0 16px #95bfd3;
    border: none;
}

.dark .eqFTPFileTreeCell.clicked {
    background-color: #d4d4d4;
    color: #000000;
}

.dark .eqFTPFileTreeCell.clicked .eqFTPModalItemTitle {
    color: #000000;
}

.dark #eqFTP-project-settings .well {
    color: #000000;
}

.dark #eqFTP-project-settings .well h5 {
    color: #000000;
}

.dark #eqFTP-project-settings .field-group label {
    color: #000000;
}

.dark #eqFTPQueueHolder .table-container .transferring td .progessBar {
    background-color: #1A1A1A;
}