#toolbar-eqFTP{
    display:inline-block;
    width:16px;
    height:16px;
    background-image:url('img/folder.svg');
    background-size:100%;
    opacity:0.75;
}

#toolbar-eqFTP:hover{
    opacity:1;
}

#toolbar-eqFTP i {
    font-size: 10px;
    margin-top: 8px;
    color: #000000;
}

#detachedModalHolder{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 51;
}

#detachedModal{
    position: absolute;
    min-width: 300px;
    min-height: 200px;
}

#eqFTP-project-dialog {
    width: 100% !important;
    height: 100% !important;
    position: relative;
    z-index: 1;
}

#eqFTP-project-dialog .modal-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0 !important;
}

#eqFTP-project-dialog .modal-footer>div {
    padding: 10px 15px 12px;
}

#eqFTP-project-dialog .modal-body {
    max-height: none;
    position: absolute;
    top: 75px;
    bottom: 41px;
    margin: 0;
    width: 100%;
    padding: 0;
}

#eqFTPDirectoryListing {
    min-width: 400px;
    width: 100% !important;
    position: relative;
}

#eqFTPDirectoryListing>div {
    padding: 10px 10px 0 10px;
}
#eqFTPDirectoryListing>div.condensed-table {
    padding: 0 10px 10px 10px;
}

.eqFTPFileTreeHeader i {
    margin-right: 5px;
}

.eqFTPFileTreeHeader .resizer {
    float: right;
    display: inline-block !important;
    width: 3px !important;
    margin-left: 3px;
    cursor: col-resize;
}

.eqFTPListingHeaders {
    border-bottom: 1px solid #cecece;
}

.dark .eqFTPListingHeaders {
    border-bottom: 1px solid #AAAAAA;
}

#eqFTPDirectoryListing .eqFTPFileTreeCell {
    float: left;
    width: 18.3%;
    text-align: right;
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    overflow: hidden;
}

#eqFTPDirectoryListing .eqFTPFileTreeCell.eqFTPTableNamecol{
    width: 45%;
    text-align: left;
}

#eqFTPDirectoryListing .eqFTPFileTreeCell.eqFTPTableNamecol .eqFTPModalItemTitle {
    vertical-align: middle;
}

#eqFTPDirectoryListing .eqFTPFileTreeCell.eqFTPTableSizecol{

}

#eqFTPDirectoryListing .eqFTPFileTreeCell.eqFTPTableTypecol{

}

.eqFTPFileTreeRow>.eqFTPFileTreeHolder {
    float: left;
    width: 100%;
}

#eqFTP-project-settings {
    width:800px;
}

#eqFTPAllServerList {
    height: 310px;
    overflow-x: hidden;
    overflow-y: auto;
}

.nav.nav-tabs.nav-stacked li{
    padding: 3px 19px;
    cursor: pointer;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}
.nav.nav-tabs.nav-stacked li .eqFTP-arrow {
    opacity: 0;
    float: right;
    margin-top: 3px;
}
.nav.nav-tabs.nav-stacked li:last-child{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.nav.nav-tabs.nav-stacked li:hover .eqFTP-arrow {
    opacity: 0.9;
}
.nav.nav-tabs.nav-stacked li.clicked{
    color:#288edf;
    background-color: #dfe2e2;
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #ffffff;
}
.dark .nav.nav-tabs.nav-stacked li.clicked{
    color:#333333;
    background-color: #aaaaaa;
    border-top: 1px solid #888888;
    border-bottom: 1px solid #bbbbbb;
}
.nav.nav-tabs.nav-stacked li.clicked:hover .eqFTP-arrow {
    opacity: 0.9;
}

.nav.nav-tabs.nav-stacked li.clicked+li {
    border-top:none;
}

.field-container2 label, .field-container2 input, .field-container2 select{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    margin-right: 5px;
}

.field-container2 {
    margin-bottom: 10px;
}

.field-container2 label{
    width:140px;
}

.eqFTP-icon {
    cursor: pointer;
    opacity: 0.2;
    height: 10px;
    width: 10px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: -10px;
    margin-top: -7px;
}

#eqFTPCTSEIDHelp {
    vertical-align:middle;
    color: #000000;
    margin-left: 0px;
    margin-top: -5px;
    font-size: 16px;
}

.dark #eqFTPCTSEIDHelp {
    color: #FFFFFF;
}

#eqFTPautolocalpath {
    vertical-align:middle;
    color: #000000;
    margin-left: 0px;
    margin-top: -5px;
    font-size: 16px;
}

.dark #eqFTPautolocalpath {
    color: #FFFFFF;
}

.eqFTP-icon:hover {
    cursor: pointer;
    opacity: 0.4;
}

.eqFTP-icon.clicked {
    opacity: 0.7;
}

.eqFTP-icon-plus {
    background-image: url(img/glyphicons_432_plus.png);
}

.eqFTP-icon-close {
    background-image: url(img/close.svg);
}

li[data-eqFTP-addConnection]:hover>.eqFTP-icon-plus{
    opacity: 0.4;
}

#btfSettingsWindowsPlaceholder {
    height: 370px;
    line-height: 370px;
    vertical-align: middle;
    text-align: center;
}

.eqFTP-error {
    border-color: #e9322d !important;
    -webkit-box-shadow: 0 0 6px #f8b9b7 !important;
    -moz-box-shadow: 0 0 6px #f8b9b7 !important;
    box-shadow: 0 0 6px #f8b9b7 !important;
}

.eqFTP-alert {
    background-color: #f2dede !important;
    border-color: #eed3d7 !important;
    color: #b94a48 !important;
    float:left;
    width:50%;
    margin:0;
}

.eqFTP-notification {
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
    color: #468847 !important;
    float:left;
    width:50%;
    margin:0;
}

#eqFTP-openSettingsWindow {
    padding: 3px 4px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    display: inline-block;
    font-size: 17px;
    opacity: 0.4;
    cursor: default;
    vertical-align: middle;
    color: #000000;
}

#eqFTP-openSettingsWindow:hover {
    background-color: rgba(255,255,255,0.8);
    opacity: 0.6;
    border-radius: 2px;
}

.dark #eqFTP-openSettingsWindow {
    color: #FFFFFF;
}

.dark #eqFTP-openSettingsWindow:hover {
    background-color: rgba(255,255,255,0.2);
}

#eqFTP-serverChoosing {
    vertical-align: middle;
    display: inline-block;
    margin: 0;
    max-height: 200px;
}

.zebra-striped tbody li:nth-child(2n+1){
    background-color: rgba(255,255,255,0.2);
}

#eqFTPDirectoryListing div .eqFTPTableNamecol span {
    width:80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

#eqFTPDirectoryListing .eqFTP-folder i.eqFTPFileTreePlusMinus {
    vertical-align: middle;
    margin-right: 3px;
    margin-left: 3px;
}

#eqFTPDirectoryListing .eqFTP-folder i.eqFTPFileTreePlusMinus.fa-caret-down {
    display: none;
    margin-left: 2px;
}

#eqFTPDirectoryListing .eqFTPFileTreeRow.opened>div>i.eqFTPFileTreePlusMinus.fa-caret-right {
    display: none;
}

#eqFTPDirectoryListing .eqFTPFileTreeRow.opened>div>i.eqFTPFileTreePlusMinus.fa-caret-down {
    display: inline-block;
}

#eqFTPDirectoryListing .eqFTP-file i.eqFTPFileTreePlusMinus {
    display: none !important;
    width: 0px !important;
}
#eqFTPDirectoryListing .eqFTP-file span {
    color: #000000;
}
.dark #eqFTPDirectoryListing .eqFTP-file span {
    color: #FFFFFF;
}

#eqFTPDirectoryListing .eqFTP-folder span {
    opacity: 0.7;
}

#eqFTPDirectoryListing .eqFTP-folder>ul>li {
    margin-left: 4px;
    border-left: 1px solid #666666;
    padding-left: 5px;
}

.eqFTPFileTreeCell.clicked {
    background-color: #95bfd3;
}

#eqFTPTable li:hover>div:not(.clicked) {
    background-color: rgba(0,0,0,0.1);
}

#eqFTPLoading {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(255,255,255,0.2);
    opacity: 0.4;
    z-index: 2;
    top: 0;
    left: 0;
    line-height: 444px;
    vertical-align: middle;
    font-size: 260px;
    text-align: center;
    color: #FFFFFF;
}

.dark #eqFTPLoading {
    background-color: rgba(0,0,0,0.7);
    color: #000000;
}


.field-group{
    padding:14px;
    background-color:#f5f5f5;
    border:1px solid #dddddd;
    margin-bottom:20px;
    border-radius: 4px;
    max-height: 347px;
    overflow-x: hidden;
    overflow-y: auto;
}

.eqFTPSettingsHolder {
    max-height: 375px;
    overflow-x: hidden;
    overflow-y: auto;
}

.eqFTPSettingsHolder .eqFTP-serverport, .eqFTP-keepAlive, .eqFTP-timeOffset {
    width:40px;
}

li.eqFTPFileTreeRow, ul.eqFTPFileTreeHolder {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

li.closed>ul {
    display: none !important;
}

li.opened>ul {
    display: block !important;
}

#eqFTPGlobalSettings {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3px;
    opacity: 0.3;
    color: #000000;
    cursor: pointer;
}

.eqFTPTabs {
    margin-bottom: 5px;
    padding: 10px;
}

.eqFTPTabs a {
    display: inline-block;
    margin-right: 5px;
    color: #000000;
    font-size: 16px;
    opacity: 0.5;
    margin-bottom: 4px;
}

.dark .eqFTPTabs a {
    color: #FFFFFF;
}

.eqFTPTabs a:hover {
    opacity: 1;
    text-decoration: none;
}

.eqFTPTabs a.current {
    border-bottom: 4px solid #288edf;
    margin-bottom: 0px;
    outline: none;
    box-shadow: none;
    opacity: 1;
}
.eqFTPTabs a:active, .eqFTPTabs a:focus {
    outline: none;
    box-shadow: none;
}
.dark .eqFTPTabs a.current {
    border-bottom: 4px solid #016dc4;
    outline: none;
    box-shadow: none;
}

#eqFTPGlobalSettings:hover, #eqFTPGlobalSettings.clicked {
    opacity: 0.6;
}

.dark #eqFTPGlobalSettings {
    color: #FFFFFF;
}

#eqFTPGlobalSettingsHolder {
    height: 370px;
}

.eqFTPsync-ignore {
    width: 215px;
    height: 70px;
    resize: none;
}

.eqFTPtoolbarBottomIcons {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    vertical-align: middle;
    opacity: 0.3;
    display: inline-block;
    color: #000000;
    width: 20px;
}

.eqFTPtoolbarBottomIcons:hover {
    opacity: 0.6;
}

.dark .eqFTPtoolbarBottomIcons {
    color: #FFFFFF;
}

#eqFTPQueueIndicator {
    cursor: pointer;
}

#eqFTPQueueIndicator.disabled {
    color: #F00 !important;
}

#eqFTPequeueTable tr.clicked {
    background-color: #0f0f0f;
    color: #FFFFFF;
}
.dark #eqFTPequeueTable tr.clicked {
    background-color: #f0f0f0;
    color: #000000;
}

#eqFTPQueueHolder .table-container table {
    width: 100%;
    table-layout: fixed;
}

#eqFTPQueueHolder .table-container th {
    padding: 3px 10px;
    text-align: left;
    border-bottom: 1px solid #939393;
    border-right: 1px solid #939393;
    width:30%;
    background-color: #f2f2f2;
}

.dark #eqFTPQueueHolder .table-container th {
    background-color: #2b2b2b;
    color: #aaaaaa;
    border-bottom: 1px solid #222222;
    border-right: 1px solid #222222;
}

.eqFTP_queue_remove {
    font-size: 17px;
    margin-top: -3px;
    opacity: 0.8;
    cursor: pointer;
}
.eqFTP_queue_remove:hover {
    opacity: 1;
}

#eqFTPQueueHolder .table-container td {
    padding: 3px 10px;
    text-align: left;
    border-bottom: 1px dotted #222222;
    position: relative;
}

#eqFTPQueueHolder .table-container th span, #eqFTPQueueHolder .table-container td span {
	padding: 0 5px;
    display: inline-block;
    vertical-align: middle;
}

#eqFTPQueueHolder .table-container td.path>span, #eqFTPQueueHolder .table-container td.name>span {
    display: inline-block;
    width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

#eqFTPQueueHolder .table-container .transferring td span {
    display: inline-block;
    z-index: 2;
    position: relative;
}

#eqFTPQueueHolder .table-container .transferring td .progessBar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #a5dbff;
    z-index: 1;
}

.eqFTPQueueCommands {
    padding: 5px 10px;
    border-bottom: 1px solid #AAAAAA;
    background-color: #eeeeee;
}
.dark .eqFTPQueueCommands {
    border-bottom: 1px solid #111111;
    background-color: #333333;
}
.eqFTPQueueCommands span {
    margin-right: 5px;
    padding: 3px 6px;
    display: inline-block;
    vertical-align: middle;
}
.eqFTPQueueCommands span:hover {
    background-color: #f0f0f0;
    border: 1px solid #cbcbcb;
    border-radius: 4px;
    padding: 2px 5px;
}
.eqFTPQueueCommands span:active {
    background-color: #dedede;
}
.dark .eqFTPQueueCommands span:hover {
    background-color: #444444;
    border: 1px solid #111111;
}
.dark .eqFTPQueueCommands span:active {
    background-color: #1f1f1f;
}
.eqFTPQueueCommands span i {
    margin-right: 3px;
}
.eqFTPQueueCommands label {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

#eqFTP-dmhandle {
    position: absolute;
    z-index: 2;
    bottom: -1px;
    left: 1px;
    width: 15px;
    height: 15px;
    cursor: ne-resize;
    border-bottom-left-radius: 4px;
    background-image: url(img/resizeHandler.png);
}

.JColResizer{table-layout:fixed;} .JColResizer td, .JColResizer th{overflow:hidden;padding-left:0!important; padding-right:0!important;}  .JCLRgrips{ height:0px; position:relative;} .JCLRgrip{margin-left:-5px; position:absolute; z-index:5; } .JCLRgrip .JColResizer{position:absolute;background-color:red;filter:alpha(opacity=1);opacity:0;width:10px;height:100%;top:0px} .JCLRLastGrip{position:absolute; width:1px; } .JCLRgripDrag{ border-left:1px dotted black;	}

span[data-eqFTPQueueRemove] {
	cursor: pointer;
	opacity: 0.8;
}

span[data-eqFTPQueueRemove]:hover {
	opacity: 1;
}

.eqFTP-customErrorHolder {
    position: absolute;
    z-index: 3;
    bottom: 0;
    right: 45px;
    padding: 5px;
    border-radius: 3px;
}
.eqFTP-customErrorHolder strong {
    font-weight: bold;
}

.eqFTP-customErrorHolder.error {
    background-color: #f2354b;
    color: #FFFFFF;
}

.eqFTP-customErrorHolder.notification {
    background-color: #75e240;
    color: #000000;
}

.eqFTP-customErrorHolder.notification strong {
    color: #000000;
}

.eqFTP-customErrorHolder.warning {
    background-color: #e2ae40;
    color: #000000;
}

.eqFTP-customErrorHolder.error strong {
    color: #FFFFFF;
}

.eqFTP-customErrorHolder.notification .close{
    color: #000000;
}

.eqFTP-customErrorHolder.error .close {
    color: #FFFFFF;    
}

.eqFTP-customErrorHolder .close {
    float: right;
    margin-left: 10px;
}

.eqFTP-customErrorHolder .text {
    float: left;
}

.eqFTPinlineInput {
    height: 16px;
    display: inline-block;
    width: 90%;
    background-color: #dfe2e2;
    box-shadow: 0 0 16px #95bfd3;
    border: none;
}

.dark .eqFTPFileTreeCell.clicked {
    background-color: #d4d4d4;
    color: #000000;
}

.dark .eqFTPFileTreeCell.clicked .eqFTPModalItemTitle {
    color: #000000;
}

.dark #eqFTP-project-settings .field-group label {
    color: #000000;
}

.dark #eqFTPQueueHolder .table-container .transferring td .progessBar {
    background-color: #1A1A1A;
}

.dark .field-group {
    background-color: #444444;
    color: #aaaaaa;
    border-color: #111111;
}

.dark #eqFTP-project-settings .field-group label {
    color: #aaaaaa;
}

.dark .well {
    background-color: #444444;
    color: #aaaaaa;
    border-color: #111111;
}

.dark .well li {
    color: #aaaaaa;
}

.dark .dropdown-menu a {
    color: #FFFFFF;
}

.dark #eqFTP-project-settings .well h5 {
    color: #aaaaaa;
}

#eqFTP-checkDiffConfirm {
    overflow: visible !important;
}

#eqFTP-checkDiffConfirm .modal-body {
    overflow: visible !important;
}

#eqFTPQueueHolder .progress {
    height: 20px;
    margin-bottom: 0px;
    overflow: hidden;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
    background-repeat: repeat-x;
    border-radius: 4px;
    width: 99%;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
}
.dark #eqFTPQueueHolder .progress {
    background-color: #333333;
    background-image: linear-gradient(to bottom, #333333, #383838);
}
#eqFTPQueueHolder .progress-bar {
    float: left;
    width: 0px;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #FFF;
    text-align: center;
    background-color: #337AB7;
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.15) inset;
}
#eqFTPQueueHolder .progress-bar-striped, .progress-striped .progress-bar {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}
@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0
    }
    to {
        background-position: 0 0
    }
}
#eqFTPQueueHolder .progress-bar.active, .progress.active .progress-bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
}