@import "fa/font-awesome.scss";
.eqftp {
    &-toolbar {
        &__icon {
            background-image: url(img/toolbar__icon.svg);
            background-size: contain;
            &.disabled {
                opacity: 0.2;
            }
        }
    }
    &-panel {
        display: none;
        position: absolute;
        height: 100%;
        width: 0px;
        right: 30px;
        &__header {
            padding: 38px 15px 10px 15px;
            position: relative;
            z-index: 2;
            &__settingsHeader {
                opacity: 1;
                transition: opacity 0.2s;
                position: absolute;
                top: 12px;
                font-size: 30px;
                z-index: 1;
            }
            &__inputHolder {
                position: absolute;
                z-index: 2;
                left: 15px;
                top: 10px;
                right: 60px;
                transition: opacity 0.2s;
                opacity: 1;
                &__iconClear {
                    display: none;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    width: 28px;
                    cursor: pointer;
                    & i {
                        left: 9px;
                        position: absolute;
                        top: 7px;
                    }
                }
                &__iconDropdown {
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    width: 28px;
                    cursor: pointer;
                    & i {
                        left: 9px;
                        position: absolute;
                        top: 7px;
                    }
                }
            }
            &__input {
                width: 100%;
                box-sizing: border-box;
                height: 28px !important;
                padding-right: 24px !important;
            }
            &__menu_button {
                position: absolute;
                right: 22px;
                top: 13px;
                font-size: 21px;
                & i {
                    cursor: pointer;
                    opacity: 0.8;
                    transition: opacity 100ms;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
        &__infofooter {
            position: absolute;
            z-index: 3;
            bottom: 0;
            left: 0;
            right: 0;
            height: 26px;
            transition: height 0.2s ease-out, padding-right 0.2s;
            overflow: hidden;
            -webkit-user-select: text;
            user-select: text;
            //-webkit-transform: scaleY(-1);
            //transform: scaleY(-1);
            &:hover {
                height: 80px;
                //overflow-y: auto;
                & > .eqftp-infofooter--msgholder > .eqftp-infofooter--msg {
                    & > .eqftp-infofooter--time {
                        width: 35px;
                    }
                }
                & > .eqftp-scrollbar {
                    opacity: 1;
                }
            }
            & > .eqftp-scrollbar {
                opacity: 0;
                transition: opacity 0.2s;
                & > div {
                }
            }
            & > .eqftp-infofooter--msgholder {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                & > .eqftp-infofooter--msg {
                    //-webkit-transform: scaleY(-1);
                    //transform: scaleY(-1);
                    padding: 4px 15px;
                    & span {
                        display: inline;
                        vertical-align: middle;
                        margin-right: 5px;
                    }
                    & > .eqftp-infofooter--time {
                        width: 0;
                        overflow: hidden;
                        transition: width 0.2s;
                    }
                }
            }
            &.fullsized {
                height: calc(100% - 48px);
                padding-right: 5px;
            }
        }
        &__server_dropdown_holder {
            display: none;
            position: absolute;
            width: 100%;
            top: 28px;
            box-sizing: border-box;
            border-radius: 0px 0px 3px 3px;
        }
        &__server_dropdown_item {
            padding: 5px 10px;
            width: 100%;
            box-sizing: border-box;
            opacity: 0.8;
            transition: opacity 100ms, background-color 100ms;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
            &__title {
                font-size: 16px;
            }
            &__host,
            &__user {
                font-size: 10px;
                margin-right: 10px;
            }
        }
        &__body {
            position: absolute;
            bottom: 0;
            left: 0;
            top: 0;
            right: 0;
            margin-top: 48px;
            z-index: 1;
        }
        &__settings_window {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            padding: 20px 10px 35px;
            margin-bottom: 26px;
            overflow: auto;
            z-index: 3;
            &__settings_file_input {
                width: calc(100% - 100px);
            }
            &__save_button {
                margin: 0px 10px;
                display: inline-block;
                vertical-align: middle;
                &_holder {
                    position: absolute;
                    bottom: 0px;
                    left: 0;
                    right: 0;
                    height: 35px;
                    box-shadow: 0px 3px 15px #000;
                    line-height: 35px;
                    border: none;
                    box-sizing: border-box;
                }
            }
        }
        & input[type=text], input[type=password] {
            box-sizing: border-box;
            height: 30px;
        }
    }
    &-fixed_folder {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 2px 0 2px 5px;
        background-color: #47484B;
        display: block;
        z-index: 2;
        box-shadow: 0 3px 5px -2px rgba(0,0,0,0.4);
        box-sizing: border-box;
        & > .eqftp-file_tree-element_data {
            height: 18px;
            transition: all 0.2s;
            padding: 0;
            width: 100%;
            & i.fa.fa-circle {
                color: #81B965;
                font-size: 8px;
                vertical-align: middle;
                margin-top: -1px;
                margin-right: 5px;
            }
            & .eqftp-file_tree-element_col-date {
                display: none;
            }
        }
    }
    &-file_tree {
        margin: 0;
        list-style: none;
        width: 420px;
        &--holder {
            padding: 10px 0;
            overflow: auto;
            height: calc(100% - 46px);
        }
        &-subfolder {
            display: none;
            position: relative;
            list-style: none;
            margin: 0;
            z-index: 1;
            padding: 0 0 0 8px;
            box-sizing: border-box;
            width: 100%;
            overflow: hidden;
            & .eqftp-file_tree-element {
                border-left: 1px solid rgba(0,0,0,0.1);
                box-sizing: border-box;
                width: 100%;
                padding: 0 0 0 6px;
            }
        }
        &-element {
            //height: 18px;
            line-height: 18px;
            position: relative;
            width: 100%;
            box-sizing: border-box;
            &:hover {
                background-color: rgba(255,255,255,0.1);
            }
            &_size {
                opacity: 0.4;
            }
            &_data {
                padding: 2px 0;
                position: relative;
                overflow: hidden;
                width: 100%;
                white-space: nowrap;
                padding: 0px 5px;
                box-sizing: border-box;
                & i.fa.fa-circle,
                & i.fa.fa-link {
                    font-size: 8px;
                    vertical-align: middle;
                    margin-top: -1px;
                    margin-right: 5px;
                    transform: translateY(0px);
                    transition: all 0.2s;
                }
            }
            &_col {
                float: left;
                box-sizing: border-box;
                &-name {
                    width: 60%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    position: relative;
                }
                &-date {
                    width: 40%;
                }
            }
            &.eqftp-loading {
                & .eqftp-file_tree-element_data {
                    & i.fa.fa-circle,
                    & i.fa.fa-link {
                        animation: eqftp-bounce 0.9s infinite ease-in-out;
                    }
                }
            }
            &.eqftp-opened {
                height: auto;
                & > .eqftp-file_tree-element_data {
                    & i.fa.fa-circle,
                    & i.fa.fa-link {
                        color: #81B965;
                    }
                }
                & > .eqftp-file_tree-subfolder {
                    //display: block;
                }
            }
        }
    }
    &-extension {
        opacity: 0.9;
    }

    &-welcome_screen {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        &__holder {
            position: absolute;
            top: 50%;
            margin-top: -100px;
            margin-left: 20px;
            margin-right: 20px;
        }
        &__h1 {
            font-size: 80px;
            line-height: 80px;
        }
        &__text {
            margin: 0px 5px 20px;
        }
    }

    &-invisible {
        opacity: 0;
        -webkit-user-select: none;
        user-select: none;
    }
    &-hidden {
        display: none;
    }
    &-hamburger {
        display: block;
        position: relative;
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 24px;
        height: 22px;
        font-size: 0;
        text-indent: -9999px;
        appearance: none;
        box-shadow: none;
        border-radius: none;
        border: none;
        cursor: pointer;
        transition: background 0.2s;
        &:focus {
            outline: none;
        }
        & span {
            display: block;
            position: absolute;
            top: 9px;
            left: 0px;
            right: 0px;
            height: 4px;
            border-radius: 1px;
            &::before,
            &::after {
                position: absolute;
                display: block;
                left: 0;
                width: 100%;
                height: 4px;
                content: "";
                border-radius: 1px;
            }
            &::before {
                top: -8px;
            }
            &::after {
                bottom: -8px;
            }
        }
        &--htx {
            & span {
                transition: background 0s 0.2s;
                &::before,
                &::after {
                    transition-duration: 0.2s, 0.2s;
                    transition-delay: 0.2s, 0s;
                }
                &::before {
                    transition-property: top, transform;
                }
                &::after {
                    transition-property: bottom, transform;
                }
            }
            &.active {
                & span {
                    &::before,
                    &::after {
                        transition-delay: 0s, 0.2s;
                    }
                    &::before {
                        top: 0;
                        transform: rotate(45deg);
                    }
                    &::after {
                        bottom: 0;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
    &-scrollbar {
        position: absolute;
        right: 0;
        width: 5px;
        top: 0;
        bottom: 0;
        z-index: 10;
        transition: width 0.2s;
        &:hover {
            width: 10px;
        }
        & > div {
            transition: height 0.2s;
            position: absolute;
            left: 0;
            right: 0;
            border-radius: 1px;
        }
    }
    &-password {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        &__input {
            &_holder {
                top: 50%;
                margin-top: -50%;
                position: absolute;
                left: 20px;
                right: 20px;
                height: 50px;
            }
            width: 100%;
        }
    }
    &-fading {
        transition: visibility 0s, opacity 0.2s linear;
        visibility: hidden;
        opacity: 0;
        &.active {
            visibility: visible;
            opacity: 1;
        }
    }
    &-checkbox {
        margin: 10px 0;
        & input[type=checkbox] {
            margin-top: 2px;
        }
    }
    &-accordion {
        border: 1px solid #333;
        border-radius: 3px;
        &-group {
            &.eqftp-active {
                & .eqftp-accordion-heading {
                    & a {
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                }
                & .eqftp-accordion-body {
                    overflow-y: auto;
                    height: auto;
                    padding: 10px 5px;
                    border-bottom: 1px solid #333;
                }
            }
            &:not(.eqftp-active) {
                & .eqftp-accordion-heading {
                    & a {
                        background-color: inherit;
                    }
                }
                & .eqftp-accordion-body {
                    overflow-y: hidden;
                    height: 0;
                    padding: 0;
                    border-bottom: none !important;
                }
            }
            &:last-child {
                &.eqftp-active {
                    & .eqftp-accordion-heading {
                        border-bottom: 1px solid #333;
                    }
                }
                &:not(.eqftp-active) {
                    & .eqftp-accordion-heading {
                        border-bottom: none;
                    }
                }
            }
        }
        &-heading {
            border-bottom: 1px solid #333;
            & a {
                display: block;
                color: inherit;
                cursor: pointer;
                padding: 3px 5px;
                font-size: 14px;
                &:hover {
                    color: inherit;
                    text-decoration: none;
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }
        }
        &-body {
            max-height: 400px;
            position: relative;
        }
    }
    &-secondary_link {
        color: #838383;
    }
    &-connection {
        &__new_connection {
            margin-bottom: 10px;
            width: calc(100% - 7px);
            box-sizing: border-box;
        }
        &__removing {
            display: none;
        }
        &__main_settings {
            display: block;
        }
        &__additional_settings {
            display: none;
        }
    }
    &-show_additional_settings {
        & .eqftp-connection__main_settings {
            display: none;
        }
        & .eqftp-connection__additional_settings {
            display: block;
        }
    }
    &-show_removal_offer {
        & .eqftp-connection__extras {
            display: none;
        }
        & .eqftp-connection__removing {
            display: block;
        }
    }
    &-sftp_only {
        display: none;
    }
    &-ftp_only {
        display: none;
    }
    &-sftp {
        & .eqftp-sftp_only {
            display: block;
        }
    }
    &-ftp {
        & .eqftp-ftp_only {
            display: block;
        }
    }
    &-progress_bar {
        position: absolute;
        z-index: -1;
        height: 100%;
        background: #0089FF;
        opacity: 0.2;
        top: 0;
        left: 0;
        transition: width 0.1s;
        border-radius: 3px;
    }
}

@keyframes eqftp-bounce {
    0%, 100% { 
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
    } 50% { 
        transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
    }
}

.dark {
    & .eqftp {
        &-panel {
            background-color: #47484b;
            &__header {
                background-color: #58595c;
                &__input {
                    border: 1px solid #423F3F !important;
                    &:focus {
                        box-shadow: 0 2px 3px #000000 !important;
                        border: 1px solid #383636 !important;
                    }
                }
            }
            &__infofooter {
                background-color: #38393b;
            }
            &__server_dropdown_holder {
                //background-color: #1a1a1a;
                //box-shadow: 0 3px 10px #000000;
                //border: 1px solid #151515;
                background-color: #3D3D3D;
                box-shadow: 0 0px 4px #000000;
            }
            &__server_dropdown_item {
                &:not(:last-child) {
                    border-bottom: 1px solid #2c2c2c;
                }
                &:hover {
                    background-color: #2c2c2c;
                }
            }
            &__settings_window {
                background-color: #47484b;
                &__save_button_holder {
                    background-color: #47484b;
                }
            }
        }

        &-welcome_screen {
            background-color: #1A1A1A;
            color: #bbbbbb;
        }

        &-hamburger {
            & span {
                background: #cbcbcb;
                &::before,
                &::after {
                    background: #cbcbcb;
                }
            }
            &.active {
                & span {
                    background: none;
                }
            }
        }
        &-infofooter {
            &--info {
                color: #868686;
            }
            &--success {
                color: #367E36;
            }
            &--error {
                color: #D34444;
            }
            &--time {
                color: #646464;
            }
        }
        &-scrollbar {
            background-color: #242222;
            & > div {
                background-color: #313131;
                &:hover {
                    background-color: #393939;
                }
            }
        }
        &-password {
            background-color: #47484b;
        }
        &-accordion {
            border: 1px solid #202020;
            &-group {
                &.eqftp-active {
                    & .eqftp-accordion-heading {
                        & a {
                            background-color: rgba(255, 255, 255, 0.1);
                            &:hover {
                                background-color: rgba(255, 255, 255, 0.1);
                            }
                        }
                    }
                    & .eqftp-accordion-body {
                        border-bottom: 1px solid #202020;
                    }
                }
                &:not(.eqftp-active) {
                    & .eqftp-accordion-heading {
                        & a {
                            background-color: inherit;
                            &:hover {
                                background-color: rgba(255, 255, 255, 0.1);
                            }
                        }
                    }
                    & .eqftp-accordion-body {
                        border-bottom: none;
                    }
                }
                &:last-child {
                    &.eqftp-active {
                        & .eqftp-accordion-heading {
                            border-bottom: 1px solid #202020;
                        }
                    }
                    &:not(.eqftp-active) {
                        & .eqftp-accordion-heading {
                            border-bottom: none;
                        }
                    }
                }
            }
            &-heading {
                border-bottom: 1px solid #202020;
                background-color: #2D2E30;
            }
            &-body {
                background-color: #3C3F41;
                box-shadow: 0 10px 10px -10px rgba(0,0,0,0.6) inset, 0 -10px 10px -10px rgba(0,0,0,0.6) inset
            }
        }
        &-file_tree {
            &-element {
                &:hover {
                    background-color: rgba(0,0,0,0.1);
                }
                &.eqftp-opened {
                    & .eqftp-file_tree-subfolder {
                        & .eqftp-file_tree-element {
                            border-left: 1px solid rgba(255,255,255,0.1);
                        }
                    }
                }
            }
        }

        &-secondary_link {
            color: #838383;
        }
    }
}

@keyframes rainbow {
    0% {color: #ff0000;}
    10% {color: #ff8000;}
    20% {color: #ffff00;}
    30% {color: #80ff00;}
    40% {color: #00ff00;}
    50% {color: #00ff80;}
    60% {color: #00ffff;}
    70% {color: #0080ff;}
    80% {color: #0000ff;}
    90% {color: #8000ff;}
    100% {color: #ff0080;}
}

.ext {
    &-gay, &-lgbt {
        & .eqftp-extension {
            -webkit-animation:rainbow 1s infinite;
            animation:rainbow 1s infinite;
        }
    }
}